# This is Git's per-user configuration file.
[core]
	editor = subl -n -w
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[user]
	name = Edouard Oger
	email = eoger@fastmail.com
[alias]
	co = checkout
	cm = !git add -A && git commit -m
	amend = !git add -A && git commit --amend --no-edit
	st = status
	sw = show
	last = log -1 HEAD
	unstage = reset HEAD --
	hgp = !git format-patch -k -p -U8 -1 HEAD --stdout | git-patch-to-hg-patch > $(git symbolic-ref --short HEAD).patch
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	rb = "!f() { git rebase -i "$1"~; }; f"
	rbc = !git add -A && git rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	df = diff
	dc = diff --cached
	pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
[pull]
	ff = only
[credential]
	helper = osxkeychain
[cinnabar]
	helper = ~/git-cinnabar/git-cinnabar-helper
